/* Para establecer y usar "Variables".

:root {
  --[var_name]: [value];
}

[selector]{
  [property]: var(--[var_name]);
}
*/

/* IMPORTANTE - No realizar cambios sobre clases con prefijo (como .ef-[clase], .tra-[clase], etc.).
  Esas clases son para asignar un comportamiento específico a elementos en general, para mantener así el atomic design */

:root {
  /* Tamaño fuentes */
  --Main_Input: 18px;
  --Main_Heading_1: 25px;
  --Main_Heading_2: 20px;
  --Main_Heading_3: 18px;
  --Main_Regular: 14px;
  --Main_Mobile_SongBar_Autor: 14px;
  /* Colores */
  --Main_Darker: #0D1818;
  --Main_Light: #18CDC6;
  --Main_Slightly_Dark: #23A4A0;
  --Main_Disabled: #77BBAA;
  --Main_Dark: #179893;
  --Error_Background: #444444;
  --Main_Light_2: #C6FDFD;
  --Main_Lighter: #E6FFFF;
  --Dorado_Premium: #EFB810;
  --Main_Lightest: #F6FFFF;
  --Urgente: #F54E4E;
  --Transparente: rgba(0, 0, 0, 0);
  --Burger_Menu_Item_Border: #0d181833;
  --Scrollbar_regular: #82CDCA;
  --Scrollbar_hover: #62ADAA;
  --Scrollbar_background: #D0E8E8;
}

/* Clases para aplicar efectos */

.ef-drop_shadow_downwards {
  box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
}

.ef-drop_shadow_upwards {
  box-shadow: 0px -3px 4px rgba(0, 0, 0, 0.25);
}

.ef-drop_shadow_right {
  box-shadow: 5px 0px 5px rgba(0, 0, 0, 0.4);
}

.ef-solid_underline {
  border-bottom: solid 2px;
}

/* Fin clases para aplicar efectos */

/*  */

/* Clases para transiciones básicas */

.tra-focus {
  transition: background-color .6s ease-out;
}

.tra-focus:focus {
  transition: background-color .6s ease-in;
}

.tra-hover {
  transition: background-color .6s ease-out;
}

.tra-hover:hover {
  transition: background-color .6s ease-in;
}

/* Fin clases para transiciones básicas */

/*  */

/* Selectores generales (Ignorando si es Mobile o Desktop) */

body {
  color: var(--Main_Darker);
  background-color: var(--Main_Lightest);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
}

input {
  border-radius: 75px;
  border: 0;
  background-color: var(--Transparente);
  font-size: var(--Main_Input);
}

input:focus {
  /* background-color: var(--Main_Lightest); */
  background-color: var(--Transparente);
  border: 0;
  outline-style: none;
}

nav {
  z-index: 3;
  background-color: var(--Main_Lighter);
  margin: 0;
  padding: 5px 3.4%;
  width: 93.2%;
  position: fixed;
  top: 0;
  left: 0;
}

input.slider {
  -webkit-appearance: none;
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: var(--Main_Lighter);
  border-radius: 500px;
  /* border: solid 1px var(--Main_Darker); */

  box-shadow: inset 0 0 0 1px var(--Main_Darker);
  width: 100%;
  height: 12px;
  opacity: .9;
  transition: opacity .4s ease-out;
}
input.slider:hover{
  opacity: 1;
  transition: opacity .2s ease-in;

}
input.slider::-webkit-slider-thumb{
  -webkit-appearance: none;
  width: 12px;
  height: 12px;
  border: solid 2px var(--Main_Dark) ;
  border-radius: 10px;
  background-color: var(--Main_Dark);
  box-shadow: -500006px 0 0 500000px  var(--Main_Dark);
  transition: background-color .1s ease-out;
}
input.slider:hover::-webkit-slider-thumb{
  background-color: var(--Main_Light_2);
  transition: background-color .1s ease-in;
}

#player {
  background-color: var(--Main_Lighter);
  z-index: 2;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  text-decoration: none;
  color: inherit;
}

button {
  padding: 0;
  margin: 0;
  border: 0;
  background-color: rgba(0, 0, 0, 0);
  transform: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
  transform: scale(.95);
  transition: transform .1s linear, opacity .2s ease-in;
}
img {
  width: 100%;
}

.rate_bar {
  padding: 4px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: var(--Main_Dark);
  border-radius: 5000px;
}

.rate_bar img {
  width: 12px;
}

.seccion-central {
  padding: 0 8px;
  display: flex;
  justify-content: space-between;
  background-color: var(--Main_Lightest);
  /* background-color: red; */
  position: fixed;
  left: 0;
  width: calc(100% - 16px);
}

.seccion-central div {
  overflow-y: scroll;
  z-index: 1;
  /* background-color: blue; */
}

.seccion-central, .seccion-central div {
  height: calc(100vh - 147px);
}

/* Inicio Scrollbar (en toda la versión desktop) */

::-webkit-scrollbar {
  width: 10px;
}

/* Track (Barra de total de la página) */

::-webkit-scrollbar-track {
  border-radius: 10px;
  background: var(--Scrollbar_background);
}

/* Handle (Barra de la parte de la página mostrada ahora) */

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: var(--Scrollbar_regular);
}

/* Handle en hover */

::-webkit-scrollbar-thumb:hover {
  background: var(--Scrollbar_hover);
}

/* Fin Scrollbar */

/* Fin de selectores generales */

/*  */

/* Modo Mobile */

@media only screen and (max-width: 720px), (max-height: 480px) {
  .only_desktop {
    display: none;
  }
  /* Inicio Basic Layout */
  /* Inicio NavBar */
  nav.only_mobile {
    display: flex;
    /* grid-template-columns: 92.2% 7.8%; */
    justify-content: space-around;
  }
  nav * {
    padding: 0;
    margin: 0;
  }
  nav.only_mobile div {
    position: relative;
    border-radius: 75px;
    border-color: var(--Main_Darker);
    width: 65%;
    background-color: var(--Main_Light_2);
    display: flex;
    align-items: center;
  }
  nav div:focus-within {
    background-color: var(--Main_Lightest);
  }
  nav div img {
    position: absolute;
    right: 3.23%;
    top: 19.5%;
    width: 22.95px;
  }
  nav div input {
    width: 100%;
    padding: 5px;
    padding-right: 27.95px;
  }
  nav button {
    width: 40.5px;
  }
  /* Inicio Burger Menu */
  #burger_menu {
    z-index: 1;
    position: fixed;
    top: 0;
    left: -101%;
    transition: left .6s ease-in;
    min-width: 75vw;
    max-width: 75vw;
    min-width: 150px;
    height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: flex-start;
    font-size: var(--Main_Heading_2);
  }
  /* Inicio Transiciones (abrir/cerrar) */
  #burger_menu_button:focus+#burger_menu {
    left: 0;
    transition: left .6s ease-out;
  }
  #burger_menu_cerrar:focus~#burger_menu {
    left: -101%;
    transition: left .6s ease-in;
  }
  /* Fin Transiciones */
  #burger_menu_cerrar {
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 11%;
    min-width: 15px;
  }
  #burger_menu a:not(:first-child) {
    line-height: 8.9vh;
    min-height: 8.9vh;
    /* min-height: 25px; */
    width: 100%;
    text-align: center;
    border-top: solid var(--Burger_Menu_Item_Border) 1px;
  }
  #burger_menu a:last-child {
    border-bottom: solid var(--Burger_Menu_Item_Border) 1px;
  }
  #burger_menu a:first-child {
    margin-top: 7.1vh;
    margin-bottom: 8.8vh;
    border: none;
    max-width: 100%;
    max-width: 150px;
  }
  /* Fin Burger Menu */
  /*  */
  /* Fin NavBar */
  /*  */
  /* Inicio Player */
  /*  */
  /* Inicio Controller Player */
  .player {
    z-index: 2;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  .player.only_mobile .botones_reproducir {
    position: relative;
    height: 50px;
    /* min-height: 12.1655vw; */
    display: flex;
    align-items: center;
    justify-content: center;
    bottom: 0;
  }
  .player.only_mobile .botones_reproducir button.boton_central {
    width: 38px;
    margin: 6px 0;
  }
  .player.only_mobile .botones_reproducir button.boton_pasar_cancion {
    width: 31px;
    margin: auto 6.5693vw;
  }
  .player.only_mobile .botones_reproducir button.boton_lateral {
    width: 34px;
    margin: auto 4.8662vw;
  }
  /* Fin Controller Player */
  /*  */
  /* Inicio Canción Actual*/
  .player.only_mobile .cancion_actual {
    z-index: 1;
    /* position: absolute; */
    bottom: 50px;
    left: 0;
    width: 100%;
    height: 41px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .player.only_mobile .cancion_actual div {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    white-space: nowrap;
  }
  .player .cancion_actual div p {
    font-size: var(--Main_Regular);
    text-align: center;
    margin: 0;
    width: 58.3942vw;
  }
  .player .cancion_actual div p:last-child {
    font-size: var(--Main_Mobile_SongBar_Autor);
    margin-bottom: 2px;
  }
  .player .cancion_actual button {
    width: 30px;
    margin: 6px 2px;
  }
  .player .cancion_actual button:first-child {
    width: 30px;
    margin-left: 21px;
  }
  .player .cancion_actual button:last-child {
    margin-right: 21px;
  }
  /* Fin Canción Actual*/
  /*  */
  /* Fin Player */
  /*  */
  /* Fin Basic Layout */
  .seccion-central {
    top: 55px;
    margin: 0;
    width: 100%;
  }
  .contenido_cargado_dinamicamente {
    width: calc(100% - 16px);
    margin: 0;
  }
}

/* Fin Modo Mobile */

/* Modo Desktop */

@media only screen and (min-width:721px) and (min-height:481px) {
  .only_mobile {
    display: none;
  }
  button{
    opacity: .9;
    transition: transform .1s linear, opacity .2s ease-out;
  }
  button:hover{
    opacity: 1;
    transition: transform .1s linear, opacity .2s ease-in;
  }
  
  /*  */
  /* Inicio NavBar */
  nav.only_desktop {
    position: relative;
    min-height: 8.49vh;
    min-height: 55px;
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
  nav button:first-child {
    /* justify-self: flex-start; */
    position: absolute;
    /* top: 9px; */
    left: 43px;
    width: 52px;
  }
  nav button:last-child {
    margin-left: 43px;
    width: 41px;
  }
  nav.only_desktop div {
    border-radius: 75px;
    border-color: var(--Main_Darker);
    background-color: var(--Main_Light_2);
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 597px;
    max-width: 62vw;
    height: 49px;
  }
  nav div:focus-within {
    background-color: var(--Main_Lightest);
  }
  nav div img {
    max-width: 29px;
    padding-right: 8px;
  }
  nav div input {
    font-size: var(--Main_Input);
    padding: 15px;
    padding-right: 59px;
    width: 543px;
    height: 49px;
  }
  /* Fin NavBar */
  /*  */
  /* Inicio Player */
  /*  */
  /* Inicio Canción Actual */
  .player.only_desktop {
    background-color: var(--Main_Lighter);
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 82px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .player .seccion_lateral {
    position: relative;
    min-width: 200px;
    width: 19.7%;
    height: 67.5px;
    padding: 7.5px 0;
    margin: 0 1%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    /* background-color: lawngreen; */
  }
  .cancion_actual .imagen_cancion {
    z-index: 1;
    max-width: 67.5px;
    border-radius: 7px;
  }
  .cancion_actual .song_option_bar {
    width: 50%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }
  .cancion_actual .rate_bar {
    width: 75px;
    margin-bottom: 9px;
    /* margin-right: 5px; */
  }
  .cancion_actual button {
    width: 25px;
  }
  .cancion_actual {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .cancion_actual .text_current_song {
    width: 100%;
    position: absolute;
    bottom: 7px;
    left: 76px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    white-space: nowrap;
  }
  .cancion_actual .text_current_song p {
    font-size: var(--Main_Mobile_SongBar_Autor);
    margin: 0;
  }
  /* Fin Canción Actual */
  /*  */
  /* Inicio Controller */
  .player.only_desktop .panel_central {
    min-width: 250px;
    width: 47.5%;
    height: 82px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    /* background-color: red; */
  }
  /* Inicio progress bar canción */
  .player.only_desktop .progress_bar_cancion {
    padding-top: 6px;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .player.only_desktop .panel_central progress {
    width: 82%;
    margin: 6px 0;
  }
  .player .panel_central progress {
    height: 12px;
    border-radius: 5000px;
  }
  .player .panel_central progress::-webkit-progress-bar {
    background-color: var(--Main_Lighter);
    border: solid var(--Main_Darker) 1px;
    border-radius: 5000px;
  }
  .player.only_desktop .panel_central progress::-webkit-progress-value {
    border-radius: 50px;
    z-index: 1;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid var(--Main_Dark);
    height: 12px;
    background: var(--Main_Dark);
  }
  .player.only_desktop .botones_reproducir {
    position: relative;
    height: 66px;
    /* min-height: 12.1655vw; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  /* Fin progress bar canción */
  /*  */
  /* Inicio botones reproducir */
  .player.only_desktop .botones_reproducir {
    width: 100%;
  }
  .player.only_desktop .botones_reproducir button.boton_central {
    width: 45px;
    margin: auto 2.77%;
  }
  .player.only_desktop .botones_reproducir button.boton_pasar_cancion {
    width: 41px;
    margin: auto 2.18%;
  }
  .player.only_desktop .botones_reproducir button.boton_lateral {
    width: 40px;
  }
  .player.only_desktop .botones_reproducir button.boton_lateral:first-child {
    margin-right: 11.37%;
  }
  .player.only_desktop .botones_reproducir button.boton_lateral:last-child {
    margin-left: 11.37%;
  }
  /* Fin botones reproducir */
  /*  */
  /* Fin Controller */
  /*  */
  /* Inicio opciones secundarias */
  .player.only_desktop .opciones_secundarias {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .player.only_desktop .modo {
    /* justify-content: center; */
    /* align-items: center; */
    width: 35%;
    max-width: 35px;
    margin: 14px;
    padding: 10px 0;
  }
  .player.only_desktop .volumen {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .player .volumen progress {
    /* border: 1px solid var(--Main_Darker); */
    height: 8px;
    border-radius: 5000px;
    /* overflow: hidden; */
  }
  .player.only_desktop .volumen progress::-webkit-progress-bar {
    background-color: var(--Main_Lighter);
    border: solid var(--Main_Darker) 1px;
    border-radius: 5000px;
  }
  .player.only_desktop .volumen progress::-webkit-progress-value {
    border-radius: 50px;
    z-index: 1;
    margin-top: -1px;
    margin-left: -1px;
    border: 1px solid var(--Main_Dark);
    height: 8px;
    background: var(--Main_Dark);
  }
  .player.only_desktop .modo * {
    margin: 1px 6px;
  }
  /* Fin opciones secundarias */
  /*  */
  /* Fin Player */
  /*  */
  /* Inicio Sección central */
  .seccion-central {
    top: 65px;
  }
  .contenido_cargado_dinamicamente {
    width: 71%;
    margin: 0;
  }
  .fav_bar {
    margin: 0;
    width: 27.7%;
  }
  /* Fin Sección central */
}

/* Fin Modo Desktop */